* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-primary: #E67E22;
    --dark-color: #D35400;
    --light-color: #FDEBD0;
    --white-color: #fff;
    --text-color: #2C3E50;
    --background-color: #FFF8F1;
}

html {
    scroll-behavior: smooth;
    /*Descer suavemente*/
}

body {
    background-color: var(--background-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding: 1rem 0;
}

nav {
    height: 8vh;
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 2em;
    font-weight: bold;
    color: var(--text-color);
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 0.2rem;
}

nav a:hover {
    border-bottom: 1px solid var(--text-color);
}

#textoInicial {
    width: 80vw;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 3rem;
}

#boxPrincipal {
    width: 50%;
}


#boxPrincipal h2 {
    color: var(--text-color);
    font-size: 3em;
}

#boxPrincipal p {
    font-size: 1.5em;
    margin-top: 1rem;
}

#textoInicial a {
    display: block;
    width: fit-content;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.4em;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--white-color);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: all 0.3s ease;
}

#textoInicial a:hover {
    background-color: var(--dark-color);
}

#boxImg {
    margin-top: 2rem;
}

#boxImg img {
    display: block;
    margin: 0 auto;
    width: 70%;
}

#textoReceitas {
    color: var(--text-color);
    font-size: 2.2em;
    margin-bottom: 2rem;
}

#receitas {
    width: 80vw;
    margin: 1rem auto;
    min-height: 75vh;
}

#blocoReceitas {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#receitas article {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 25%;
    color: var(--text-color);
}

.boxReceitas {
    background-color: var(--white-color);
    border-radius: 6px;
}

.receitasTexto{
    margin: 0 1rem;
}

.imgReceitas {
    display: block;
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.boxReceitas h3{
    font-size: 1.3em;
    margin-top: 0.5rem;
}

.receitasTexto p {
    margin: 1rem 0;
    width: 90%;
}

.boxReceitas a {
    display: block;
    text-align: center;
    background-color: var(--color-primary);
    padding: 0.5rem 0;
    border-radius: 6px;
    font-size: 1.2em;
    color: var(--white-color);
    text-decoration: none;
    margin: auto auto 1rem;
}

.boxReceitas a:hover {
    cursor: pointer;
    background-color: var(--dark-color);
}

footer {
    margin: 2rem 0 0;
    background-color: var(--color-primary);
    color: var(--white-color);
}

footer h3{
    text-align: center;
    font-size: 2em;
}

#contato{
    width: 80vw;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contato a{
    text-decoration: none;
    color: var(--white-color);
}

#contato a:hover{
    cursor: pointer;
}

#contato div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#contato div img{
    width: 5%;
    filter: invert(1); /*Inverte a cor da imagem*/
    margin-right: 0.5rem;
}

footer p {
    text-align: center;
    padding-bottom: 1rem;
}

